* {
  padding: 0px;
  margin: 0px;
}
body {
  display: flex;
  flex-direction: column;
}
header {
  width: 100%;
  height: 100px;
  background-color: #0042BD;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

.logo {
  width: 205px;
  height: 70px;
  transition: ease-in-out 0.2;
}
.logo:hover {
  opacity: 80%;
  transition: ease-in-out 0.2;
}

header .nav-desktop ul{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

header .nav-desktop ul li a {
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-right: 30px;
  text-decoration: none;
}

header .nav-desktop ul li a:hover {
  text-shadow: 0px 6px 0px black;
  transition: ease 0.2s;
}

/* RESET BUTTON */
button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;


}
&::-moz-focus-inner {
  border: 0;
  padding: 0;
}

header .nav-desktop button {
  width: 70px;
  height: 46px;
  background-color: #013AA5;
  border-radius: 40px;
  transition: 0.3s;
}

header .nav-desktop button:hover {
  background-color: #074BCB;
  transition: 0.3s;
}

header .nav-desktop button img {
  width: 36px;
  height: 35px;
}

.nav-mobile {
  display: none;
}
.menu-fora {
  background-color: #0042BD;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  right: -2000px;
  z-index: 1;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  transition: ease-in-out .3s;
}
.menu-fora button {
  margin-right: auto;
  margin-top: 20px;
  margin-left: 20px;
}
.menu-fora button img {
  width: 36px;
  height: 36px;
}
.menu-fora.ativo {
  right: 0;
}
.hdr2 {
  display: flex;
  margin-right: 20px;
}
.menu-fora ul {
  display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    list-style: none;
    margin-top: 60px;
    margin-left: 20px;
}
.menu-fora ul li {
  margin-bottom: 10px;
}
.menu-fora ul li a {
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-right: 30px;
  text-decoration: none;
}
.menu-fora ul li a:hover {
  color: yellow;
}

.imagem-header {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  flex-flow: column nowrap;
}

.container-img1 {
  background-image: url("/img/rotulo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 480px;
  display: flex;
  align-items: end;
  justify-content: center;
}
.container-img2 {
  background-image: url("/img/453534.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 480px;
  display: flex;
  align-items: end;
  justify-content: center;
}
.container-img3 {
  background-image: url("/img/contato.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 480px;
  display: flex;
  align-items: end;
  justify-content: center;
}
.container-img4 {
  background-image: url("/img/copo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 480px;
  display: flex;
  align-items: end;
  justify-content: center;
}
.container-img .desktopp {
  color: white;
  font-family: Inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  height: 62px;
}

.mobilep {
  display: none;
}

.carrossel-bebidas {
  display: flex;
  justify-content: center;
  justify-self: center;
  margin-top: 10px;
}

.caixa-bebidas {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 600px;
}

.caixa-bebidas i {
  cursor: pointer;
}

.carrossel  {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  list-style-type: none;
  overflow: hidden;
  scroll-behavior: smooth;
}

.carrossel-bebidas .caixa-bebidas img {
   width: 200px;
   height: auto;
}
.feed-instagram {
  display: flex;
  justify-content: center;
}
.placeh {
  width: 800px;
  height: 400px;
  display: flex;
  background-color: #000;
  margin-top:60px;
}
.onde-estamos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.caixa-onde-estamos {
  width: 1700px;
  height: 372px;
  background-color: #D9D9D9;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}

footer {
  width: 100%;
  height: 200px;
  background-color: #0042BD;
  margin-top: 80px;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-around;
}

footer logo {
    width: 284px;
    height: 102px;
}

.footer-callback {
  width: 650px;
  height: 148px;
  background-color: #013AA5;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 184px;
}

footer ul {
  list-style-type: disc #ffff;
  color: white;
}

footer ul li a{
  text-decoration: none;
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  align-self: flex-start;
  margin-bottom: 4px;
}
footer ul li a:hover {
  color: yellow;
}
.redes-sociais {
  margin-top: 86px;
}

footer .redes-sociais a img {
  width: 36px;
  height: 36px;
  margin-right: 7px;
  transition: ease-in-out 0.2s;
}

footer .redes-sociais a img:hover {
  opacity: 80%;
  transition: ease-in-out 0.2s;
}

.premios-certificados {
  width: 268px;
  height: 148px;
  background-color: #013AA5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.premios-certificados img {
  width: 80px;
  height: 80px;
}

/* Compras */

.secao {
  display: flex;
}

.filtros {
  width: 500px;
  height: 632px;
  background-color: #D9D9D9;
  margin-top: 75px;
  margin-left: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.filtros form {
  margin-top: 22px;
}

.barra-pesquisa {
  width: 170px;
  height: 30px;
  border-radius: 10px;
  background-color: #000;
  transition: ease-in-out 0.2s;
  color: #FFF;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding: 8px 0px 8px 14px;
  margin-bottom: 20px;
}
::placeholder {
  color: white;
  opacity: 1;
}
.barra-pesquisa:hover {
  background-color: #2F2F2F;
  transition: ease-in-out 0.2s;
}
.barra-pesquisa:focus {
  outline: none;
}
form button img {
  width: 15px;
  height: 15px;
  position: relative;
  right: 38px;
  top: 2px;
}



.filtro-vanilla {
  width: 300px;
  height: 60px;
  background-color: #D9D9D9;
  border-bottom: #B8B8B8 solid 1px;
  display: flex;
  flex-direction: row;
    flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s;
}

.filtro-vanilla p {
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-left: 16px;
}

.filtro-vanilla button {
  width: 20px;
  height: 10px;
  margin-right: 14px;
  background-color: #000;
}

.produtos {
  margin-left: 50px;
  margin-top: 75px;
  margin-right: 150px;
}

.produtos ul {
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  gap: 50px;
}


.produtos ul li div{
  width: 262px;
  height: 262px;
  background-color: #D9D9D9;
  display: flex;
}

.produtos ul li p {
  color: #000;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 10px
}

.produtos ul li .preco {
  width: 82px;
  height: 20px;
  background-color: #FFF;
  text-align: center;
  margin-left: 10px;
  align-self: flex-end;
  position: relative;
  bottom: 0px;
  transition: ease-out 0.2s;
}
.produtos ul li .preco p {
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.produtos ul li:hover {
  .preco {
    position: relative;
    bottom: 10px;
    transition: ease-in-out 0.2s;
  }
}

.emdev-caixa {
  display: flex;
  flex-direction: row;
    justify-content: center;
    align-items: center;
  margin-top: 120px;
}

.emdev {
  display: flex;
  width: 400px;
  height: 200px;
  background-color: darkgrey;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: stretch;
  padding: 0 100px;
  border-radius: 10px;
}
.emdev h1 {
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  color: #FFF;
}
.emdev p {
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: #FFF;
  text-align: center;
}
.emdev button {
  padding: 4px;
  background-color: #000;
  border-radius: 5px;
}
.emdev button:hover {
  background-color: #2F2F2F;
  transition: ease-in-out 0.2s;
}
.emdev button a {
  text-decoration: none;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: #fff;
  padding: 0 200px;
}

.carrinho {
  display: flex;
  margin-top: 148px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.carrinho-listagem {
  margin-right: 500px;
}

.carrinho-listagem li {
  width: 500px;
  height: 200px;
  background-color: #FFF;
  border: #000 solid 1px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.carrinho-listagem li .imagem-produto-fundo {
  width: 160px;
  height: 160px;
  background-color: #bebebe;
  border-radius: 10px;
  margin-left: 20px;
}

.carrinho-listagem li .imagem-produto-fundo img {
  width: 160px;
  height: 160px;
}

.informacoes-produto {
  margin-left: 8px;
}

.informacoes-produto .qtd {
  width: 100px;
  height: 30px;
  border: #000 solid 1px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.informacoes-produto .qtd p {
  margin-left: 10px;
  color: #000;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.informacoes-produto h1 {
  color: #000;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.informacoes-produto p {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.carrinho-total {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
}

.carrinho-total h1 {
  color: #000;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 10px;
}

.carrinho-valores {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.carrinho-valores h2 {
  margin-right: 80px;
  color: #000;
 font-family: Inter;
 font-size: 24px;
 font-style: normal;
 font-weight: 300;
 line-height: normal;
}

.carrinho-valores p {
  color: #000;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.carrinho-valores-total h2 {
  color: #000;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.carrinho-valores-total p {
  color: #000;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.cupom {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.cupom img {
  width: 20px;
  height: 10px;
}

.cupom a {
  color: #000;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  transition: ease-in-out 0.2s;
}

.cupom a:hover {
  color: #fff;
  background-color: #000;
  transition: ease-in-out 0.2s;
}

.carrinho-total button {
  width: 312px;
  height: 40px;
  background-color: #000;
  color: #FFF;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-top: 20px;
  transition: ease-in-out 0.2s;
}

.carrinho-total button:hover {
  transition: ease-in-out 0.2s;
  background-color: #2F2F2F;
  cursor: pointer;
}

.teste {
  height: 160px;
  background-color: #B8B8B8;
  border-bottom: #a1a1a1 solid 1px;
  display: flex;
  flex-direction: row;
    flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s;
}

.teste p {
  display: none;
}

.teste button {
  width: 20px;
  height: 10px;
  margin-right: 14px;
  background-color: #000;
}

.filtros-promo-d {
  display: none;
  transition: display 1s;
}
.filtros-promo-a{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  transition: display 1s;
}
.filtros-promo-a input {
  margin-bottom: 10px;
  transition: display 1s;
}
.login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
.caixa-login {
  width: 850px;
  height: 700px;
  background-color: #F3F3F3;
  border-radius: 50px;
  display: flex;
  align-self: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.caixa-login h1 {
  margin-bottom: 40px;
  color: #000;
font-family: Inter;
font-size: 64px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.caixa-login form {
  display: flex;
  align-self: center;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: nowrap;
    width: 400px;
}
.caixa-login form .inptG {
  width: 400px;
  height: 50px;
  border-radius: 10px;
  background: #E1E1E1;
  border: none;
  color: rgba(0, 0, 0, 0.32);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-left: 15px;
}

.caixa-login form .lblG {
  color: #000;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.lembrar-esqueceu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 18px 0;
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.lembrar-esqueceu-r {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 18px 0;
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-top: 40px;
}
.caixa-login form p {
  margin-top: 18px;
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.caixa-login form a {
  text-decoration: none;
  color: #565BB7;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.caixa-login form a:hover {
  color: #4d51a3;
  transition: ease-in-out 0.2s;
}
.caixa-registro {
  width: 1000px;
  height: 700px;
  background-color: #F3F3F3;
  border-radius: 50px;
  display: flex;
  align-self: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.caixa-registro h1 {
  margin-bottom: 40px;
  color: #000;
font-family: Inter;
font-size: 64px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.caixa-registro form {
  display: flex;
  align-self: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    width: 400px;
}
.caixa-registro form input {
  margin-bottom: 10px;
}
.registros {
  display: flex;
  gap: 70px;
}

.caixa-registro form .inptG {
  width: 400px;
  height: 50px;
  border-radius: 10px;
  background: #E1E1E1;
  border: none;
  color: rgba(0, 0, 0, 0.32);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-left: 15px;
}

.caixa-registro form .lblG {
  color: #000;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.entrar-btn {
  width: 400px;
  height: 50px;
  background-color: #000;
  color: #FFF;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
}
.perfil {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.caixa-perfil {
  width: 1280px;
  height: 810px;
  background-color: #F3F3F3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.info-login {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
}
.caixa-perfil h1 {
  color: #000;
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 30px;
  margin-left: 50px;
}
.caixa-perfil .info-login h1 {
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-left: 50px;
  border-bottom: 1px solid black;
  padding-bottom: 6px;
}
.pad {
  padding-right: 47px;
}
.info-login-form {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
  color: #000;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-left: 50px;
  margin-top: 10px;
}
.info-login input {
  height: 30px;
  width: 400px;
}
.info-login form div {
  display: flex;
  flex-direction: column;
}
.logout {
  width: 100px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #646464;
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  border: none;
  display: flex;
  align-self: center;
  margin-top: 40px;
  cursor: pointer;
}
.logout:hover {
  background-color: #585858;
}
.sct-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.container {
  width: 1700px;
  height: 372px;
  background-color: #F3F3F3;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.contato-lista {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contato-caixa {
  width: 550px;
  height: 80px;
  background: #e1e1e1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.contato-caixa img {
  height: 55px;
  width: 55px;
  margin-right: auto;
  margin-left: 30px;
}
.contato-caixa a {
  text-decoration: none;
  color: black;
}
.contato-caixa a:hover {
  color: gray;
  transition: ease-in-out 0.1s;
}
.contato-caixa a img {
  height: 55px;
  width: 55px;
}
.contato-caixa p {
  color: #FFF;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 250px;
  text-align: center;
}
.contato-caixa div {
  width: 20px;
  height: 20px;
  margin-right: auto;
}
 /*  (telefone, 600px pra baixo) */
 @media only screen and (max-width: 600px)  {
  header {
    width: 100%;
  }
  .nav-desktop {
    display: none;
  }
  .nav-mobile {
    display: flex;
  }
  .menuham img {
  height: 36px;
  width: 36px;
  } 
  .container-img1 {
    height: 260px;
    filter: brightness(93%);
  }
  .desktopp {
   display: none;
  }
  .mobilep {
    display: block;
    color: white;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    height: calc(1vw + 1vh + 2.4vmin);
    font-size: calc(1vw + 1vh + 2.5vmin);
  }
  footer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 600px;
  }
  footer a{
    margin-bottom: 2%;
  }
  .footer-callback {
    display: flex;
    flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 80%;
        height: fit-content;
        gap: 0;
  }
  .footer-callback ul {
    margin-top: 40px;
  }
  .redes-sociais {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  footer .redes-sociais a img{
    margin-right: 10px;
  }
  .premios-certificados {
    width: 80%;
    margin-top: 40px;
  }
  .filtros {
    display: none;
  }
  .produtos {
    margin-left: auto;
    margin-right: auto;
  }
  .produtos ul {
    display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        align-items: center;
  }
 }

 /*  (tablets e telefone maior, 600px pra cima) */
 @media only screen and (min-width: 600px) and (max-width: 768px) {
  .nav-desktop {
    display: none;
  }
  .nav-mobile {
    display: flex;
  }
  .menuham img {
  height: 36px;
  width: 36px;
  } 
  .container-img1 {
    height: 260px;
    filter: brightness(93%);
  }
  .desktopp {
    display: none;
   }
   .mobilep {
     display: block;
     color: white;
     font-family: Inter;
     font-style: normal;
     font-weight: 700;
     line-height: normal;
     height: calc(1vw + 1vh + 4.3vmin);
     font-size: calc(1vw + 1vh + 4.5vmin);
   }
  footer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 600px;
  }
  footer a{
    margin-bottom: 2%;
  }
  .footer-callback {
    display: flex;
    flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 80%;
        height: fit-content;
        gap: 0;
  }
  .footer-callback ul {
    margin-top: 40px;
  }
  .redes-sociais {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  footer .redes-sociais a img{
    margin-right: 10px;
  }
  .premios-certificados {
    width: 80%;
    margin-top: 40px;
  }
  .filtros {
    display: none;
  }
  .produtos {
    margin-left: auto;
    margin-right: auto;
  }
  .produtos ul {
    display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: center;
        align-items: center;
  }
 }
 
 /* (tablets na horizontal, 768px pra cima) */
 @media only screen and (min-width: 768px) and (max-width: 992px) {
  .nav-desktop {
    display: none;
  }
  .nav-mobile {
    display: flex;
  }
  .menuham img {
  height: 36px;
  width: 36px;
  } 
  .container-img1 {
    height: 260px;
    filter: brightness(93%);
  }
  .desktopp {
    display: none;
   }
   .mobilep {
     display: block;
     color: white;
     font-family: Inter;
     font-style: normal;
     font-weight: 700;
     line-height: normal;
     height: calc(1vw + 1vh + 4.3vmin);
     font-size: calc(1vw + 1vh + 4.5vmin);
   }
   footer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 600px;
  }
  footer a{
    margin-bottom: 2%;
  }
  .footer-callback {
    display: flex;
    flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 80%;
        height: fit-content;
        gap: 0;
  }
  .footer-callback ul {
    margin-top: 40px;
  }
  .redes-sociais {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  footer .redes-sociais a img{
    margin-right: 10px;
  }
  .premios-certificados {
    width: 80%;
    margin-top: 40px;
  }
 }
 
 /* (notebook/desktops, 992px pra cima) */
 @media only screen and (min-width: 992px) and (max-width: 1200px) {
  .logo {
    height: auto;
    width: 140px;
  }
  header .nav-desktop button {
    width: 30px;
    height: 30px;
    margin-right: 20px;
  }
  header .nav-desktop button a img {
    width: 30px;
    height: 30px;
  }
  header .nav-desktop ul li a {
    font-size: 26px;
  }
 }
 
 /* (notebook grande e desktops grande, 1200px pra cima) */
 @media only screen and (min-width: 1200px) {
  .logo {
    height: auto;
    width: 160px;
  }
 } 

 @media screen and (max-width: 600px) {
  .caixa-bebidas  .carrossel {
    max-width: 200px;
    height: auto;
  }
 }